
<link rel="stylesheet" href="/static/css/menu.css">
<body>
        <div id="main-menu">
                <aside>
                        <div id="logo">
                                <img src="/static/images/binglogo1.png" class="center">
                        </div>
                        <!-- <div id="menu-header">
                                <p>Dashboard</p>
                        </div> -->
                        <ul>
                                <a href="/unica">
                                        <i class="fa-solid fa-house-chimney"></i>
                                        Home
                                </a>
                                <a href="/unica/user">
                                        <i class="fa fa-user-o" aria-hidden="true"></i>
                                        Users
                                </a>
                                <a href="/unica/blog">
                                        <i class="fa fa-rss" aria-hidden="true"></i>
                                        Blogs
                                </a>
                                <a href="javascript:void(0)">
                                        <i class="fa-sharp fa-solid fa-warehouse"></i>
                                        Warehouse
                                </a>
                                <a href="javascript:void(0)">
                                        <i class="fa-solid fa-receipt"></i>
                                        Invoice
                                </a>
                                <a href="/unica/chat">
                                        <i class="fa-solid fa-message"></i>
                                        Chat
                                </a>
                                <a href="javascript:void(0)">
                                        <i class="fa-solid fa-gear"></i>
                                        Setting
                                </a>
                        </ul>
                </aside>
        </div>
</body>
